CHAKULA_API_KEY=8ZVMFiRHEuTUuCkZKabNtb6KGPpNpE983Xw2-SToVxw
GEMINI_API_KEY=JKzaSyBslhYmZ2505tTB34tB6Srdfdfxfvf
GEMINI_MODEL=gemini-2.5-flash
DATABASE_URL=postgresql+asyncpg://chakula:pass.%2F@192.168.100.46:5432/chakula
